body {
  font-family: "Frank Ruhl Libre", Georgia, serif;
}

h4 {
  color: #117777;
}

#main {
  margin-left: 25rem;
  margin-right: 25rem;
}

#logo {
  display: flex;
  justify-content: center;
}

#sublogo {
  display: flex;
  justify-content: center;
  background-color: #fffbf1;
}

#recipetitle {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
}

#recipeintro {
  display: flex;
  justify-content: center;
  text-align: center;
}

#video {
  display: flex;
  justify-content: center;
}

#image {
  display: flex;
  justify-content: center;
}

hr {
  color: #117777;
}
